/* Begin Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, input, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
	display: block;
}
body
{
	line-height: 1;
}
ol, ul
{
	list-style: none;
}
blockquote, q
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

$mainColor: #FF9900;
$secColor: #3299BB;
$gray1: #424242;
$gray2: #BCBCBC;
$gray3: #E9E9E9;

body
{
	font-family: 'Arimo', sans-serif;
}

strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}

a
{
	color: $secColor;
}
h1
{
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	color: $mainColor;
	a
	{
		color: $mainColor;
		text-decoration: none;
	}
}
h2
{
	font-size: 2em;
	font-weight: bold;
	margin: 20px 0;
	a
	{
		color: $secColor;
		text-decoration: none;
		&:hover
		{
			text-decoration: underline;
		}
	}
}
p
{
	margin: 10px 0;
}
input[type="text"], input[type="email"], input[type="password"]
{
	border: 1px solid $gray3;
	margin: 0 0 3px;
}
label
{
	font-size: .8em;
	color: $gray1;
}

table
{
	text-align: left;
	width: 100%;
	margin: 6px 0;
	thead
	{
		background-color: $mainColor;
		th
		{
			padding: 6px;
			font-weight: bold;
			color: #ffffff;
		}
	}
	tbody
	{
		tr
		{
			&:nth-child(even)
			{
				background-color: $gray3;
			}
		}
	}
	td
	{
		padding: 6px;
	}
	.mini_column
	{
		width: 1em;
	}
}

form
{
	text-align: left;
	label
	{
		display: block;
	}
	input
	{
		display: block;
	}
	textarea
	{
		display: block;
	}
}
.pagination
{
	padding: 20px 0;
	.next_page
	{
		float: right;
	}
	.prev_page
	{
		float: left;
	}
}

article
{
	text-align: left;
	margin: 6px 0;
	padding: 0 0 6px;
	border-bottom: 1px solid $gray3;
	.byline
	{
		font-size: .8em;
		font-weight: bold;
		margin: 20px 5px;
	}
	aside
	{
		font-size: .8em;
		margin: 6px 0 3px;
	}
	&.single
	{
		.article-content
		{
			p:first-child::first-letter
			{
				font-size: 5em;
				float: left;
				margin: 0 10px 0 0;
				color: $mainColor;
			}
		}
	}
}

.banner
{
	height: 42px;
	border-bottom: 1px solid $gray3;
	box-shadow: 0 2px 5px $gray2;
	h1
	{
		font-size: 2em;
		margin: 3px 9px;
	}
}

.logo
{
	float: left;
}

.page
{
	margin: 20px auto;
	padding: 0 10px;
	max-width: 38em;
	text-align: center;
	line-height: 1.2em;
}

.child
{
	margin: 20px 0 0 40px;
	border-bottom: none;
	&.child-1
	{
		margin-left: 0;
	}
	h3
	{
		font-weight: bold;
	}
	.byline
	{
		color: $gray2;
		font-weight: normal;
		margin: 0;
		padding: 0;
	}
	footer
	{
		font-size: .8em;
	}
}

.pop_tab
{
	position: relative;
	float:right;
	border-left: 1px solid $gray3;
	a
	{
		padding: 10px 3px;
		margin: 3px 0;
		display: inline-block;
		text-decoration: none;
		min-width: 100px;
		text-align: center;
		&:hover
		{
			text-decoration: underline;
		}
	}
	form
	{
		display: none;
		position: absolute;
		top: 42px;
		right: -1px;
		padding: 16px 12px;
		background-color: #ffffff;
		border: 1px solid $gray3;
	}
	&.open form
	{
		display: block;
	}
	&:first-of-type
	{
		border-right: 1px solid $gray3;
	}
}

nav.page_list
{
	text-align: center;
	li
	{
		position: relative;
		float:left;
		border-left: 1px solid $gray3;
		a
		{
			padding: 10px 3px;
			margin: 3px 0;
			display: inline-block;
			text-decoration: none;
			min-width: 100px;
			text-align: center;
			&:hover
			{
				text-decoration: underline;
			}
		}
		form
		{
			display: none;
			position: absolute;
			top: 42px;
			right: -1px;
			padding: 16px 12px;
			background-color: #ffffff;
			border: 1px solid $gray3;
		}
		&.open form
		{
			display: block;
		}
		&:last-of-type
		{
			border-right: 1px solid $gray3;
		}
	}
	a
	{
		text-decoration: none;
		&:hover
		{
			text-decoration: underline;
		}
	}
}

.flash
{
	background-color: $secColor;
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px 0;
	padding: 5px;
	text-align: center;
	border-top: 1px solid $gray3;
	border-bottom: 1px solid $gray3;
}

.error
{
	background-color: $mainColor;
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px 0;
	padding: 5px;
	text-align: center;
	border-top: 1px solid $gray3;
	border-bottom: 1px solid $gray3;
}

.button, input[type="submit"]
{
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 0 #CCCCCC;
	display: inline-block;
	padding: 3px 10px;
	text-align: center;
	text-decoration: none;
	background-color: $gray3;
	color: #000000;
	&:hover
	{
		background-color: lighten($gray3, 5%);

	}
	&:active
	{
		box-shadow: inset 1px 1px 0 #CCCCCC;
		background-color: $gray2;
	}
}