{% extends "layout.html" %}
{% from 'tables.html' import pagination %}
{% block body %}
	<form action="{{ url_for('bulk_edit_users') }}" method=post class=authentication_required>
		<table class=articles>
			<thead>
				<tr>
					<th class="mini-column"><th>Name</th><th>Email</th><th>Role</th><th>Active</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="mini_column"><input type="checkbox" value="{{ user.name }}" name="names"></td>
						<td><a href="{{ url_for('edit_user', name=user.name) }}">{{user.name}}</a></td>
						<td>{{ user.email }}</td>
						<td>{% if user.privilege == config.ADMIN_LEVEL %}Admin{% else %}User{% endif %}</td>
						<td>{% if user.active %}Active{% else %}Inactive{% endif %}</td>
					</tr>
				{% else %}
					<tr><td colspan="2">No users have been created.</td></tr>
				{% endfor %}
			</tbody>
		</table>
		<label class=select_label>
			<select name=action>
				<option>Select Action</option>
			<option value=activate>Activate</option>
				<option value=delete>Delete</option>
			</select>
		</label>
		<input type=submit value="Apply">
	</form>
	{{ pagination('display_admin_users', pg, num_users) }}
{% endblock %}
