<!doctype html>
<title>WCSU Gaming Club</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{ url_for('static', filename='js/poptab.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/autoslug.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/markitup/jquery.markitup.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/markitup/sets/wikicreole/set.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/markitup/skins/markitup/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/markitup/sets/wikicreole/style.css') }}" />
<script type="text/javascript" >
   $(document).ready(function() {
      $(".markItUp").markItUp(mySettings);
   });
</script>

<header class="banner">
	<h1 class="logo"><a href="{{ url_for('display_news') }}">WCSU Gaming Club</a></h1>
		<nav class="page_list">
			<ul>
				{% for page in pages %}
					<li><a href="/{{ page.slug }}">{{ page.title }}</a></li>
				{% endfor %}
				<li><a href="{{ url_for('display_threads') }}">Forum</a></li>
			</ul>
		<nav>
	{% if not session.logged_in %}
		<div id=login_form class=pop_tab>
			<a href="#">Login</a>
			<form action="{{ url_for('login') }}" method=post>
				<label>Username:</label>
				<input type=text name=username>
				<label>Password:</label>
				<input type=password name=password>
				<input type=submit value=Login>
			</form>
		</div> 
		<div id=register_form class=pop_tab>
			<a href="#">Register</a>
			<form action="{{ url_for('register') }}" method=post>
				<label>Username:</label>
				<input type=text name=username>
				<label>Password:</label>
				<input type=password name=password>
				<label>Password Again:</label>
				<input type=password name=password2>
				<label>Email:</label>
				<input type=email name=email>
				<input type=submit value=Register>
			</form>
		</div>
	{% else %}
		<div class=pop_tab>
			<a href="{{ url_for('logout') }}">Log Out</a>
		</div>
		{% if session.privilege is sameas ADMIN_LEVEL %}
			<div class=pop_tab>
				<a href="{{ url_for('admin_home') }}">Admin</a>
			</div>
		{% endif %}
	{% endif %}
</header>
{% if error %}<div class=error>Error: {{ error }}</div>{% endif %}
{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}
<div class=page>
	{% block body %}{% endblock %}
</div>
